streamlit==1.32.2
pandas==2.1.4
numpy==1.26.4
openpyxl==3.1.5
gspread==6.2.1
google-auth==2.28.1
google-auth-oauthlib==1.2.0
requests==2.28.1

spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

# torch (optional - high risk)
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0+cpu

deep-translator==1.11.4
xlsxwriter==3.2.0
